body {
	margin-bottom: 25px;
}
h1 {

	font-family: Arial,sans-serif;
}
.header {
	background-color: #4d90fe;
	text-align: center;
}
#postdiv {
	border: 1px solid;
	text-align: top;
	padding: 10px;
	vertical-align:top;
}
textarea {
    min-height: 80px;
    width: 100%;
}
.colright {
	text-align: right;
}
.postrow  {
border-width: 0px 1px 1px 1px; 
border-style: solid;
cursor: pointer;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;	
	gap: 10px;
	padding: 0px;
	border: 2px;
	min-height: 0; 
	min-width: 0;
}
.grid-item  {
  text-align: left;
  padding: 5px;
  overflow: hidden;  
  min-width: 0;   
}

.item1 { grid-column:1; grid-row: 1; font-size: 14px;}
.item2 { grid-column:2; grid-row: 1; font-size: 14px;}
.item3 { grid-column:1 / span 2; grid-row: 2;}
.item4 { grid-column:1; grid-row: 3; font-size: 14px;text-align: left;}

.profile-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	padding: 2px;
	font-size: large;
/*
	border: 2px solid black;
*/
}

.profile-item1{grid-column: 1;grid-row: 1;text-align: right;}
.profile-item2{grid-column: 2;grid-row: 1;text-align: left;}
.profile-item3{grid-column: 3;grid-row: 1;text-align: right;}
.profile-item4{grid-column: 4;grid-row: 1;text-align: left;}
.profile-item5{grid-column: 5;grid-row: 1;text-align: right;}
.profile-item6{grid-column: 6;grid-row: 1;text-align: left;}
.profile-item7{grid-column: 7;grid-row: 1;text-align: right;}
.profile-item8{grid-column: 8;grid-row: 1;text-align: left;}
.sm{
	font-size: 14px;
}
